/*************************************************************/
/*======================= CHAT TAB ==========================*/
/*************************************************************/
.message-sender {
    color: darkred;
    font-weight: bold;
    border-bottom-color: darkred;
    text-decoration: underline;
}

.polyglot-lang-select{
    color: darkgoldenrod !important;
}
.polyglot-lang-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 0px;
    background: url(../ui/frames/chat-texture.png) repeat !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(../ui/frames/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
    margin-top: -10px;
}
.roll-type-select{
    color: white !important;
    text-align: left;
    margin-bottom: 20px;
}
#chat-controls .control-buttons{
    color: white;
}
.fa-dice-d20{
    color: #e88b49;
}
#RTB-button {
    color: #e88b49;
}
.fa-save{
    color: #e88b49;
}
.fa-trash{
    color: #e88b49;
}

